:root{
  --deg:linear-gradient(45deg,#CCFF33,#9AFF29,#68FF20);
  --deg2:linear-gradient(280deg,#CCFF33,#9AFF29,#68FF20);
  --p1:#CCFF33;
  --p2:#346B19;
  --p3:#7FFF24;
  --c0:#ffffff;
  --c1:#F7F7F7;
  --c2:#EDEDED;
  --c3:#DDDDDD;
  --c4:#CCCCCC;
  --c5:#B3B3B3;
  --c6:#9B9B9B;
  --c7:#666666;
  --c8:#585858;
  --c9:#404040;
  --c10:#2E2E2E;
  --c11:#121212;
  --c12:#000000;
}

.p1{
  color: #CCFF33;
}
.p2{
  color: #346B19;
}
.p3{
  color: #7FFF24;
}
.c0{
  color: #ffffff;
}
.c1{
  color: #F7F7F7;
}
.c2{
  color: #EDEDED;
}
.c3{
  color: #DDDDDD;
}
.c4{
  color: #CCCCCC;
}
.c5{
  color: #B3B3B3;
}
.c6{
  color: #9B9B9B;
}
.c7{
  color: #666666;
}
.c8{
  color: #585858;
}
.c9{
  color: #404040;
}
.c10{
  color: #2E2E2E;
}
.c11{
  color: #121212;
}
.c12{
  color: #000000;
}
