.header-bg{
  background: var(--c12);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.header-menu{
  display: flex;
  gap: 30px;
}

.header-menu a{
  display: inline-block;
  padding: 16px;
  color: var(--c1);
  font-weight: 600;
  font-size: 1.125rem;
}

@media(max-width:700px){
  .header-bg{
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    width: 100%;
  }
  .header{
    display: inline;
  }
  .header-menu{
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  .header-menu ,a ,img{
    display: flex;
    justify-content: center;
  }
  .header-menu a{
    margin-top: 20px;
    background: var(--c10);
    justify-items: center;
    padding: 10px 40px;
    border-radius: 4px;
    color: var(--c2);
    font-size: 0.75rem;
    transition: .5s;
  }
  .header-menu a:hover{
    background-color: var(--c8);
  }
}

@media(max-width:400px){
  .header,a,img{
    margin: auto;
    width: 70%;
  }
  .header-menu a{
    display: flex;
    font-size: 0.65rem;
    padding: 10px 18px;
  }
  .header-menu{
    gap: 30px;
  }
}