.container {
  box-sizing: border-box;
  max-width: 1120px;
  margin: 0 auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  /* background: var(--deg); */
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--p2);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  transition: all 450ms ease-in-out;
}

.botao.sec {
  background: var(--c10);
  color: var(--c6);
}

.botao.seta{
  display: flex;
  align-items: center;
}

.botao.seta::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-left: 6px;
  background-image: url(../../img/icons/seta-direita.svg);
  background-repeat: no-repeat;
  transition: transform 450ms;
}

.botao.seta:hover:after{
  transform: translateX(6px);
}

.botao.sec:hover {
  background: var(--c9);
  box-shadow: inset 0px 1px 0px 0px transparent, 0px 0px 180px 0px var(--c6);
  transform: translateY(-2px);
}

.botao:hover {
  box-shadow: inset 0px 1px 0px 0px transparent, 0px 0px 180px 0px #60ff17;
  transform: translateY(-2px);
  /* z-index: -2; */
}

@media (max-width: 700px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-sec {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.svg-icon {
  display: grid;
  grid-template-columns: auto 1fr;
}

.svg-icon li {
  display: flex;
  gap: 10px;
  place-items: center;
  max-width: 26ch;
}

.endere {
  max-width: 27ch;
}

.svg-icon svg {
  max-width: 20px;
}