.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "poppins", sans-serif;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "roboto", sans-serif;
  background: var(--c1);
  border: 0.0625rem solid var(--c2);
  padding: 12px;
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--p3);
  background-color: var(--c0);
  box-shadow: 0 0 0 0.125rem var(--p1);
}

.expandir {
  grid-column: span 2;
}

@media (max-width: 1100px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .expandir {
    grid-column: span 1;
  }
}
