.span {
  color: var(--p3);
}

.font-tit {
  padding: 40px 0px 40px 20px;
}

.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.4 "Poppins", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-1-xl-plano {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  font: 700 4.5rem/1.125 "Poppins", sans-serif;
}

.font-1-xxl-center {
  font: 700 4.5rem/1 "Poppins", sans-serif;
}

.font-2-l-center {
  font-size: 1.5rem;
  max-width: 38ch;
}

.font-luxo {
  font-family: "arepey";
  font-size: 4.5rem;
  font-weight: 1;
  font-style: italic;
  background-image: var(--deg);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.font-prata {
  background-image: var(--prata);
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: var(--c4);
}

.font-ouro {
  background-image: var(--ouro);
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: var(--gold);
}

.font-comentario {
  font-family: "Merriweather";
  font-size: 2rem;
  font-weight: 1.25;
  font-style: italic;
  color: var(--p2);
  font-weight: 900;
}

@media (max-width: 700px) {
  .font-1-xxl {
    font-size: 1rem;
  }
  .font-luxo {
    font-size: 2rem;
  }
  .font-1-xl,
  .font-2-xl {
    font-size: 1rem;
  }
  .font-1-xxl-center {
    font-size: 2.4rem;
  }
  .font-2-l-center {
    font-size: 0.8rem;
  }
  .font-2-l {
    font-size: 0.9rem;
  }
  .font-2-m {
    font-size: 1rem;
  }
}

@media (max-width: 1120px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
  .font-luxo {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .font-1-xxl-center {
    font-size: 32px;
  }
  .font-2-l-center{
    font-size: 12px;
  }
}
