.container {
  box-sizing: border-box;
  max-width: 1120px;
  margin: 0 auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--deg);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--p2);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  transition: all 450ms ease-in-out;
}

.botao.sec {
  background: var(--c10);
  color: var(--c6);
}

.botao.sec:hover {
  background: var(--c9);
  box-shadow: inset 0px 1px 0px 0px transparent,
  0px 0px 180px 0px var(--c6);
  transform: translateY(-2px);
}

.botao:hover {
  box-shadow: inset 0px 1px 0px 0px transparent,
  0px 0px 180px 0px #60ff17;
  transform: translateY(-2px);
  z-index: -2;
}

@media (max-width: 700px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-sec {
    padding: 12px 16px;
    font-size: 1rem;
  }
}


