.locadora {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
  padding-bottom: 100px;
}

.locadora-bg {
  background: var(--c1);
}

.locadora h2 {
  grid-column: 1/-1;
  /* padding: 40px 0px; */
  padding-bottom: 100px;
  padding-top: 0px;
  padding-left: 20px;
}

.locadora img {
  border-radius: 4px 4px 0 0;
}

.locadora-item {
  border-radius: 4px;
  background: var(--c0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.locadora-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}

.locadora-conteudo h3,
.locadora-tempo {
  grid-column: 1/-1;
}

.locadora-dados {
  gap: 8px;
  border-left: 2px solid var(--c2);
  padding-left: 12px;
}
.locadora-dados a {
  color: var(--c8);
}

.locadora-tempo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locadora-conteudo h3::before {
  content: "";
  background: red;
  height: 10px;
  width: 20px;
  display: inline-block;
}

@media (max-width: 1124px) {
  .locadora {
    padding: 20px;
  }
  .locadora h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .locadora {
    grid-template-columns: 1fr;
  }
  .locadora-item {
    max-width: 600px;
    place-self: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .locadora-conteudo {
    grid-template-columns: 1fr;
  }
}
