.footer-bg {
  background: var(--c12);
}

.footer {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  gap: 2.5rem;
  padding: 2.5rem;
}

.footer img {
  display: inline-block;
  padding: 0;
}

.footer h3 {
  margin-bottom: 2rem;
}

.footer-contato ul {
  margin-bottom: 2rem;
}

.footer-menu img {
  max-width: 1.25rem;
}

.footer li {
  margin-bottom: 16px;
}

.redes-sociais {
  display: flex;
  gap: 2rem;
  place-items: center;
}
.footer a:hover {
  color: var(--c0);
}

.copy {
  grid-column: 1/-1;
  margin-top: 2rem;
}

@media (max-width: 1300px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer .logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .informacoes {
    padding-top: 2.5rem;
  }
}

.Btn {
  z-index: 2;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 0.4375rem;
  cursor: pointer;
  transition: all 0.3s;
}

.svg-container {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  letter-spacing: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s;
  border: 0.0625rem solid rgba(156, 156, 156, 0.466);
}

.fundo-youtube,
.fundo-facebook,
.fundo-insta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--c10);
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

/* redes redes-sociais */
.Btn:hover .fundo-youtube {
  transform: rotate(35deg);
  transform-origin: bottom;
  background-color: #ff0808;
}

.Btn:hover .fundo-facebook {
  transform: rotate(35deg);
  transform-origin: bottom;
  background-color: #086dff;
}

.Btn:hover .fundo-insta {
  transform: rotate(35deg);
  transform-origin: bottom;
  background: var(--insta);
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(10px);
}
