.header-bg {
  background: var(--c12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-width: 1400px;
  margin: auto;
}

.header-menu {
  display: flex;
  gap: 2.5rem;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  color: var(--c1);
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 0%;
  background-color: var(--c1);
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  position: absolute;
  transition: 0.5s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 700px) {
  .header-bg {
    display: flex;
  }
  .header {
    display: inline;
  }
  .header img {
    margin-top: 1.25rem;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
  }
  .header-menu a {
    display: flex;
  }
  .header-menu a::after {
    display: none;
  }
  .header-menu a {
    margin-top: 2.5rem;
    display: inline-block;
    background: var(--c10);
    justify-items: center;
    padding: 10px 25px;
    border-radius: 0.25rem;
    color: var(--c2);
    transition: 0.5s;
  }
  .header-menu a:hover {
    background-color: var(--c8);
  }
}

@media (max-width: 400px) {
  .header-menu a {
    display: flex;
    padding: 10px 10.5rem;
  }
  .header-menu {
    gap: 10px;
  }
}

@media (max-width: 375px) {
  .header-menu a {
    display: flex;
    padding: 0.4375rem 10px;
  }
  .header-menu {
    gap: 10px;
  }
}
