.vantagens-bg {
  background: var(--c12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 3.75rem;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 1.25rem;
}

.vantagens li {
  transition: all 200ms ease-in-out;
}

.vantagens li:hover {
  transform: translateY(-0.125rem);
}

.vantagens img {
  padding: 0.5rem;
}

@media (max-width: 1120px) {
  .vantagens {
    padding-top: 3.75rem;
    padding-top: 3.75rem;
  }
  .vantagens ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media (max-width: 700px) {
  .vantagens ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
