.album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.carros-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.carros-imagens img {
  flex: 1;
  min-width: 200px;
}

.carros-imagens img:first-child {
  min-width: 100%;
}

.marca-logo{
padding: 180px 60px;
height: 90px;
}

.album-conteudo > p {
  margin-bottom: 32px;
}

.carro-alugar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.carro-alugar a {
  grid-row: span 2;
}

.carro-alugar span {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--c12);
  gap: 8px;
  border-radius: 4px;
}

.album-conteudo h2 {
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.carro-informacao,
.carro-ficha {
  padding: 32px;
  background-color: var(--c12);
  border-radius: 4px;
}
.carro-informacao {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.carro-informacao li img {
  width: 24px;
  margin-bottom: 8px;
}

.carro-informacao h3 {
  margin-bottom: 8px;
}

.carro-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c11);
}

.carro-ficha li:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  .album {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .marca-logo{
    display: none;
  }
}

.outros{
  padding-top: 100px;
  padding-bottom: 100px;
}

.outros a{
margin: 20px;
width: 199px;
text-align: center;
}

@media(max-width: 919px){
  .logo{
    display: none;
    }
}

@media (max-width: 500px) {
  .carro-informacao {
    grid-template-columns: 1fr;
  }
}
