.album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.carros-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.carros-imagens img {
  flex: 1;
  min-width: 12.5rem;
}

.carros-imagens img:first-child {
  min-width: 100%;
}

.marca-logo {
  padding: 11.25rem 3.75rem;
  height: 5.625rem;
}

.album-conteudo > p {
  margin-bottom: 2rem;
}

.carro-alugar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2.5rem;
}

.carro-alugar a {
  grid-row: span 2;
}

.carro-alugar span {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--c12);
  gap: 0.5rem;
  border-radius: 0.25rem;
}

.album-conteudo h2 {
  letter-spacing: 0.015em;
  margin-bottom: 0.75rem;
}

.carro-informacao,
.carro-ficha {
  padding: 2rem;
  background-color: var(--c12);
  border-radius: 0.25rem;
}
.carro-informacao {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.carro-informacao li img {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

.carro-informacao h3 {
  margin-bottom: 0.5rem;
}

.carro-ficha li {
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--c11);
}

.carro-ficha li:last-child {
  border-bottom: none;
}

.outros {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.outros a {
  margin: 1.25rem;
  width: 12.4375rem;
  text-align: center;
}

@media (max-width: 919px) {
  .logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .carro-informacao {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .album {
    grid-template-columns: 1fr;
    padding-top: 1.25rem;
  }
  .marca-logo {
    display: none;
  }
}
