.plano-bg {
  background-color: var(--c11);
  box-shadow: inset 0 30px var(--c0), inset 0 -30px var(--c12);
}

.plano {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.5rem;
  max-width: 1440px;
  /* margin: 0 auto; */
  place-items: center;
}

.plano-imagem img {
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.plano-conteudo {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.plano h2 {
  margin: 0 1.25rem 1.25rem 0;
}

.plano p {
  margin: 0 1.25rem 1.25rem 0;
}

@media (max-width: 750px) {
  .plano {
    grid-template-columns: auto;
  }
  .plano-imagem img {
    width: 1000px;
    height: 6.25rem;
    border-radius: 0;
  }
  .plano-conteudo {
    padding-top: 0;
    padding-bottom: 6.25rem;
  }
  .plano h2,
  .plano p,
  .margin {
    margin: 1.25rem;
  }
}
