.introducao-bg {
  background: var(--c12);
  color: var(--c1);
  box-shadow: inset 0 -60px var(--c0);
}

.introducao {
  display: grid;
  grid-template-columns: 800px auto;
  max-width: 1400px;
  margin: 0 auto;
}

.introducao img {
  border-radius: 0 0 4px 4px;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.introducao-conteudo {
  padding-bottom: 145px;
}

.introducao h1 {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 14ch;
  padding: 10px;
  margin-left: 100px;
}

.introducao p{
  display: grid;
  margin-bottom: 90px;
  color: var(--c4);
  padding: 10px;
  margin-left: 100px;
}

.introducao a{
  margin-left: 110px;
}

@media (max-width: 1120px) {
  .introducao-conteudo {
    padding: 0 0 0 20px;
    margin: auto;
  }
  .introducao h1,
  .introducao p,
  .introducao a{
    margin-left:  0;
  }
  .introducao{
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;
  }
  .introducao a {
    margin-bottom: 120px;
  }
  .introducao h1 {
    margin-bottom: 20px;
  }
  .introducao p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .introducao-bg img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao-bg img {
    width: 100%;
    height: 70px;
  }
  .introducao h1,
  .introducao p{
    margin-left:  0;
  }
  .introducao-bg {
    box-shadow: 0px var(--c0);
  }
  .introducao a {
    margin: 0;
    margin-bottom: 40px;
  }
  .introducao h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0px;
  }
  .introducao p {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 37ch;
    padding: 0px;
  }
}

@media(max-width:1000px) {
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .introducao-bg img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}