.planos-bg {
  background-color: var(--c11);
}

.planos {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.planos h2 {
  margin-left: 0;
  grid-column: 1/-1;
}

.planos-item {
  margin: 20px;
  background-color: var(--c12);
  padding: 32px 32px 32px 32px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.planos-item h3 {
  margin-bottom: 40px;
}

.planos-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.planos-item ul {
  grid-column: 1/-1;
}

.planos-item a {
  grid-column: 1/-1;
  margin-top: 32px;
}

.planos-item li + li {
  margin-top: 20px;
}

.planos-item li::before {
  content: "";
  background-image: url("../../img/icons/correto.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 10px;
  display: inline-block;
}

@media (max-width: 700px) {
  .planos {
    padding-top: 40px;
    grid-template-columns: 1fr;
  }
  .planos-item{
    padding: 32px;
  }
}




