.orcamento-bg {
  background: linear-gradient(var(--c11) 300px, var(--c1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.contato-orcamento {
  padding: 20px;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
}

.orcamento-dt h2::before {
  content: "";
  display: inline-block;
  background-color: var(--p3);
  width: 0.25rem;
  height: 0.5rem;
  margin-right: 0.5rem;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  margin: 0 0 60px 0;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 0.3125rem 0 0 0.3125rem;
  background-color: var(--c12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: solid var(--c6) 0.0625rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.orcamento-produto input:checked + label::before {
  border: solid var(--c7) 0.0625rem;
  box-shadow: inset 0 0 0 0.125rem var(--c0), inset 0 0 0 0.375rem var(--c7);
}

.orcamento-produto input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--c4);
  background-color: var(--c10);
  display: block;
  padding: 12px 16px;
  border-radius: 0.25rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.orcamento-produto label:hover {
  background-color: var(--c9);
}

.orcamento-produto input:focus + label:focus {
  background-color: var(--c9);
  box-shadow: 0 0 0 0.125rem var(--p3);
  border: 0.0625rem solid var(--v12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input:checked + label {
  background: var(--c0);
  color: var(--c11);
}

.orcamento-dados {
  border-radius: 0 0.3125rem 0.3125rem 0;
  background-color: var(--c0);
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#carro:checked ~ #orcamento-carro,
#planos:checked ~ #orcamento-plano {
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  display: none;
  background-color: var(--c0);
  padding: 20px;
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  border-radius: 0.25rem;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.orcamento-detalhes li img {
  width: 16px;
  margin-right: 0.5rem;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-dados,
  .orcamento-produto {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento,
  .orcamento-produto {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }
  .orcamento-dados {
    border-radius: 0 0 0.3125rem 0.3125rem;
  }
  .orcamento-produto {
    border-radius: 0.3125rem 0.3125rem 0 0;
  }
  .orcamento {
    padding: 0;
  }
}
